@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-3">BIENVENIDO</h1>
    <br />
    <h4 class="display-6">Tecnologías Usadas:</h4>
    <p class ="my-3 py-0"> <a class="text-danger" href="https://dotnet.microsoft.com/en-us/apps/aspnet">ASP.NET</a> <br />  "A framework for building web apps and services with .NET and C#"</p>
    <p class="my-3 py-0"> <a class="text-danger" href="https://firebase.google.com/">FIREBASE</a> <br /> "Make your app the best it can be"</p>
    <p class="my-3 py-0"> <a class="text-danger" href="https://jquery.com/">JQUERY</a><br />  "Write less, do more"</p>
    <p class="my-3 py-0"> <a class="text-danger" href="https://getbootstrap.com/">BOOTSTRAP</a><br />  "Build fast, responsive sites with Bootstrap"</p>
    <p class="my-3 py-0"> <a class="text-danger" href="https://www.microsoft.com/es-mx/sql-server/sql-server-2019">MS SQL-SERVER 2019</a><br />  "Reinvent your business"</p>
</div>
